<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/ui.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <div class="wrapper">
        <header>
            <nav class="header__nav">
                <a href="admin-record.html">Запись к врачу</a>
                <a href="admin-category.html">Специальности</a>
                <a href="admin-services.html">Услуги</a>
                <a href="admin-expert.html">Специалисты</a>
                <a href="admin-application.html">Заявки</a>
            </nav>
        </header>
        <main>
            <section class="admin_application__sec">
                <div class="container">
                    <h2 class="title__main">заявки</h2>
                    <ul class="admin__list">
                        <li class="head">
                            <p>Имя</p>
                            <p>телефон</p>
                        </li>
                        <li data-application="1">
                            <p class="name">
                                Мария
                            </p>
                            <p class="phone">
                                89276486003
                            </p>
                        </li>
                        <li data-application="2">
                            <p class="name">
                                Евгений
                            </p>
                            <p class="phone">
                                89603160017
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
    </div>

    <script src="assets/js/main.js"></script>
</body>

</html>